/* ----------------- Class CSS ----------------- */
a.nav-link.hover-underline-animation.nbMenuItem{
    color:white;
}
.authorimg{
  width:100%;
  height: 100%;
}

.about{
    width:400px;
    margin: auto;
}


.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #dbe3e7;
}

.body{
    background-image: url('../img/tech-bg.jpg');
    background-size: cover;
}

.footer{
    background-color: rgba(0, 11, 158, 0.5);
    
}

html {
  scroll-behavior: smooth;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.logo{
  width: 50px;height: auto;border-radius:50%;
}
.nb-background-color{   /* navbar background color */
  background-image: url('../img/tech-head.jpeg');
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #dbe3e7;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #dbe3e7;
    padding: 1px;
}

.showcase{
    background-color: #8fa3ab; /*#0096c7*/
}

.table-image{
    max-width: 200px;     
}
/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


/* Styling For Open and Close Button With Arrows
    Credit to Catraco for designing and animating arrow animations.
    Source: https://uiverse.io/catraco/unlucky-turkey-28
   -----------------------------------------------------------------------------   */

.arrow-container .chevron-down {
   /*transform: translate(1rem, 0.5rem); -Doesn't work when Arrow is pointed up
   and has the collapsed class*/

   margin-left:1rem;
   margin-top:0.5rem;
}


.arrow-container .chevron-down {
    /*------ Settings ------*/
  position: absolute;
  animation: keyframes-return .5s;
}

/* ------ On check event ------ */
.arrow-container input:checked ~ .chevron-down {
  animation: keyframes-rotate .5s;
  transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.arrow-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}